*{
    padding: 0;
    margin: 0;
}

body{
    background-color: rgb(248, 200, 142);
}

header{
    height: 80vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("slike/header_1.jpg");
    background-repeat: no-repeat;
    background-size:cover;
  font-family: "Special Gothic Condensed One", sans-serif;
  font-weight: 400;
  font-style: normal;

}

h1{
    display: flex;
    font-size: 50px;
    color: white;
    background-color: #345c1f;
    padding: 20px;
    border-radius: 15px;
}

.navigacija {
  text-align: left;
  height: 20vh;
  display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1b330e;
    
}

.meni a {
    clear: left;
  text-decoration: none;
  color: white;
  padding: 0 10px;
  line-height: 70px;
  font-size: 20pt;
  font-family: "Special Gothic Condensed One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.meni a:hover {
  color: #a9b0a8;
}

article{
    height: 100vh;
    width: 100%;
    background-color: rgb(248, 200, 142);
    display: flex;
    align-items: center;
    justify-content: center;
}

.article_div{
    height: 80vh;
    width: 70vw;
    background-color: #345c1f;
    border-radius: 15px;
}

.text{
    padding: 50px;
    width: 30vw;
    height: 75vh;
    float: left;
    font-family: "Special Gothic Condensed One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.text p{
    font-size: 20px;
    padding-top: 20px;
    color: white;
}

.text h2{
    font-size: 30px;
    color: white;
}

.slika{
    width: 20vw;
    height: 75vh;
    display: flex;
    justify-content: right;
    align-items: center;
    float:right;
    padding-right: 100px;
}

.ja{
    width: 95%;
    border: 10px solid white;
    transform:rotate(10deg);
    box-shadow: 10px 10px 10px black;
}

.tablice{
    width: 100%;
    height: 100vh;
    background-color: #345c1f;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;

}

table{
    background-color: #1b330e;
    width: 35%;
    font-family: "Special Gothic Condensed One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

table, th, td {
  border:1px solid white;
}

.table_img{
    width: 15%;
    padding: 15px;
}

.td_img{
    display: flex;
    justify-content: center;
    align-items: center;
}

.td1{
    padding-left: 15px;
}

.table_img2{
    width: 10%;
}

.table2{
    border:1px solid black;
    background-color: white;
    color: black;
    font-family: none;
  font-weight: none;
  font-style: none;
    
}

.td2{
    border:1px solid black;
}

.th2{
    border:1px solid black;
}

footer{
    width: 100%;
    height: 20vh;
    background-color: #1b330e;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer p{
    color: white;
    font-size: 20px;
    font-family: "Special Gothic Condensed One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.galerija{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.gal_img{
    width: 20%;
    transition: transform 0.3s ease-in-out
}

.gal_img:hover{
    transform: scale(1.2);
    box-shadow:  0 10px 10px 5px  rgb(33, 33, 33, 0.50), 0 10px 10px 5px rgb(33, 33, 33, 0.50);
}

.video{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

